<div id="landing-text">
    <p class="title-fullName front-place">Kevin Kuppens</p>
    <p class="primary-text front-place">Developer & Creative</p>
    <div class="front-place">
        <h1 >Full Stack Web Developer</h1>
        <h2 >Grahpic Designer</h2>
    </div>
    <button class="landing-btn">work in progress</button>

</div>

<div id="landing-background">
    <div class="background-decor">
        <div class="circles circle-primary"></div>
        <div class="circles circle-secondary circle-large"></div>
        <div class="circles circle-secondary circle-small"></div>
    </div>
</div>
