<div class="container">
<div id="about-me">
    <img src="../../assets/KevinKuppens.png" class="portrait" />
    <div class="about-text">
        <h3>About me</h3>
        <p>Born in 1990 in Mons, Belgium, I first graduated from a secondary art school.
            I have always been drawn to things relating to art and design as well as to computers. So I continued with a graphic design school from which I graduated in 2020. I followed some training and now I am a fully trained Node.Js full stack developper.</p>
    </div>
</div>

<div id="skills">
    <h3>What can I do for you ?</h3>
    <div class="fullstack-text">
        <h5>As a Full Stack Node Js Developer</h5>
        <p>I am able to create a website or web application from the ground. I know how to build a front end page so your users can be able to interact with it and it will be pleasant to see and representative of your brand. 
            I am also able to create everything for the backend , create and manage your database, and create request from your users interactions.</p>
    </div>
    <div class="graphics-text">
        <h5>As a Grahpic Designer</h5>
        <p>I am able to create a webdesign for your brand, as well as your graphic Identity from ground up. I can create and product a product video shoot too. 
            I am also a 3D graphic artist, mainly for game development. I worked on VR project, and I can make concept art or story board. </p>
    </div>
</div>
</div>
<div class="about-background">

</div>