.container {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h3 {
  font-family: "Yeseva One", cursive;
  font-weight: 400;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 2rem;
}
p {
  color: #fff;
  margin-bottom: 4rem;
  font-size: 1rem;
}

#to-linkedin {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-left: calc(50% - 50px);
}
#to-github {
  height: 55px;
  width: 55px;
  display: inline-block;
  margin-left: 2rem;
}
#contactDirect {
  background-color: #9ad8ec;
  padding: 3rem 2rem;
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.5));
}
#contactDirect h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #457c8d;
}
form {
  display: flex;
  flex-direction: column;
  width: 30vw;
}
input,
textarea {
  border: 0;
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 0.5rem solid #242424;
  background-color: #457c8d;
  color: #fff;
  padding: 1rem 1rem 0.5rem 1rem;
  margin-bottom: 2rem;
}
input::placeholder,
textarea::placeholder {
  color: #fff;
  opacity: 0.6;
}
input:focus,
textarea:focus,
button:focus {
  outline: 0;
  filter: drop-shadow(0 0 10px #242424);
}

button {
  padding: 0.5rem 2rem;
  max-width: 7rem;
  border: 0;
  border-radius: 0 0 0.8rem 0;
  background-color: #242424;
  color: #9ad8ec;
  align-self: flex-end;
  transition: color 0.2s ease-in-out;
}

button:hover {
  cursor: pointer;
  color: #fff;
}
